html, body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.content {
    margin: 90px;
}

a {
    text-decoration: none;
}

@media (max-width: 768px) {
    .content { 
        margin: 45px;
    }
}

@media (max-width: 468px) {
    .content { 
        margin: 15px;
    }
}