body { color: #555;  background-color: #eee; }
@media(max-width:767px){
  .intro-text {
    text-align: center;
  }
  section {
    text-align: justify;
  }
}
@media(min-width:768px){
  .intro-text {
    text-align: right;
  }
}
footer img { height: 50px; }
.buffer { margin-top:40px; margin-bottom:40px; }
.github-link {
  line-height: 50px;
  font-size: 50px;
  padding: 1px 4px 3px 5px;
  border-radius: 30px;
}
a.github-link .octicon-mark-github { font-size: 50px; color: rgb(51, 51, 51); }
a.github-link .octicon-mark-github:hover { color: #000; }
