<html ng-app="sliderDemo">
<head>
  <meta charset="UTF-8">
  <title>Slider</title>
  <link rel="stylesheet" href="slider.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
  <style>
    body {
      font-family: 'Arial', sans-serif;
      font-size: 12px;
      padding: 20px;
    }

    #slider-container {
      width: 440px;
      padding: 20px;
      padding-top: 30px;
      overflow-x: auto;
      background-color: rgba(0,0,0,0.15);
    }

    .time-input {
      width: 50px;
      text-align: right;
    }

    .entry-list {
      list-style: none;
      padding-left: 10px;
    }

    .time-input-label {
      width: 100px;
      display: inline-block;
    }
  </style>
</head>
<body>

  <div ng-controller="DemoCtrl">
    <form ng-submit="addNewEntry()">
      <div style="display:inline-block; min-height:290px;">
        <datepicker ng-model="datePick" min-date="minDate" class="well well-sm"></datepicker>
      </div>

      <div>
        <p>Enter new entry:</p>
        <input type="number" class="time-input" ng-model="newTimeHour" min="0" max="23"> :
        <input type="number" class="time-input" ng-model="newTimeMin" min="0" max="59">
        <select ng-model="newType" ng-options="type.getData().label for type in entryTypes" required></select>
        <input type="text" ng-show="newType.getData().group=='break'" placeholder="Provide reason" ng-model="newReason">
        <button type="submit">Add</button>
      </div>

    </form>
    <hr>
    <ul class="entry-list">
      <li ng-repeat="entry in entries[datePick+''] | orderBy: 'val'  ">
        <label class="time-input-label">{{ entry.getTypeData().label }} </label>
        <time-input ng-model="entry.val"></time-input>
        <button type="button" ng-click="removeEntry(entry)">Remove</button>
      </li>
    </ul>
    <div>Zoom x{{ zoomIndex+1 }} <button type="button" ng-click="zoomOn(1)">+</button><button type="button" ng-click="zoomOn(-1)">-</button></div>
    <div id="slider-container" msd-wheel="onSliderScroll($event, $delta)">
      <vds-slider ng-model="entries[datePick+'']" width="zoom" step="step" measures="measures"></vds-slider>
    </div>
  </div>

  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
  <script src="bower_components/hamsterjs/hamster.js"></script>
  <script src="bower_components/angular-mousewheel/mousewheel.js"></script>
  <script src="slider.js"></script>
  <script>
    (function () {

      var EntryType = function (label, phase, group) {
        this.getData = function () {
          return { label: label, phase: phase, group: group };
        }
      }

      var Entry = function (type, value, reason) {
        if(!(type instanceof EntryType)) {
          throw new Error('Parameter 1 is not an EntryType instance.');
        }
        if(isNaN(value)) {
          throw new Error('Parameter 2 is not numeric.');
        }
        this.val = value;
        this.reason = reason;
        this.getType = function () {
          return type;
        }
        this.getTypeData = function () {
          return type.getData();
        }
        this.isType = function (targetType) {
          if(typeof targetType != 'undefined') {
            return type === targetType;
          }
          return false;
        }
        this.isPairWith = function (targetEntry) {
          if(!(targetEntry instanceof Entry)) {
            throw new Error('Parameter is invalid. Datatype Entry required.');
          }
          if(typeof targetEntry != 'undefined') {
            var typeData = type.getData(),
              targetTypeData = targetEntry.getTypeData();
            return typeData.phase !== targetTypeData.phase &&
              typeData.group === targetTypeData.group;
          }
          return false;
        }
        this.label = this.getTypeData().label;
      }

      angular.module('sliderDemo',['vds.slider','ui.bootstrap','monospaced.mousewheel'])
        .controller('DemoCtrl', function($scope, timeUtility) {

          $scope.measures = [
            { label: 'Hour', step: timeUtility.minuteToFraction(60), points: [] },
            { label: 'Quarter', step: timeUtility.minuteToFraction(15), points: [] },
            { label: 'Minute', step: timeUtility.minuteToFraction(1), points: [] }
          ];
          for(var i=0; i<$scope.measures.length; i++) {
            $scope.measures[i].points = [];
            for(var j=0; j<1; j+= $scope.measures[i].step) {
              console.log();
              $scope.measures[i].points.push(j);
            }
          }
          console.log($scope.measures);
          $scope.zoomPoints = [
            { multiplier: 1, step: timeUtility.minuteToFraction(15) },
            { multiplier: 1.4, step: timeUtility.minuteToFraction(10) },
            { multiplier: 1.8, step: timeUtility.minuteToFraction(5) },
            { multiplier: 2.2, step: timeUtility.minuteToFraction(1) }
          ];
          $scope.zoomIndex = 0;
          $scope.zoomOn = function (delta) {
            $scope.zoomIndex += delta;
            if($scope.zoomIndex<0) {
              $scope.zoomIndex = 0;
            } else if($scope.zoomIndex >= $scope.zoomPoints.length) {
              $scope.zoomIndex = $scope.zoomPoints.length - 1;
            }
            $scope.zoom = $scope.zoomPoints[$scope.zoomIndex].multiplier*400;
            $scope.step = $scope.zoomPoints[$scope.zoomIndex].step * $scope.zoom;
          };
          $scope.onSliderScroll = function (event, delta) {
            $scope.zoomOn(delta);
            event.preventDefault();
          };

          $scope.zoomOn(0);

          $scope.entryTypes = [
            new EntryType('Clock in', 'start', 'log'),
            new EntryType('Clock out', 'end', 'log'),
            new EntryType('Start break', 'start', 'break'),
            new EntryType('End break', 'end', 'break')
          ];

          $scope.entries = [];
          $scope.minDate = new Date();
          $scope.datePick = new Date();
          $scope.newTimeHour = 0;
          $scope.newTimeMin = 0;
          $scope.addNewEntry = function () {
            if(typeof $scope.newType != 'undefined') {
              if($scope.newType.getData().group == 'break' && typeof $scope.newReason == 'undefined') {
                console.log($scope.newType.getData().group == 'break', $scope.newReason)
                alert('Please provide your reason for taking a break.');
              } else {
                if(typeof $scope.entries[$scope.datePick] == 'undefined') {
                  $scope.entries[$scope.datePick+''] = [];
                }
                $scope.entries[$scope.datePick+''].push( new Entry( $scope.newType, timeUtility.toValue($scope.newTimeHour, $scope.newTimeMin), $scope.newReason ));
                $scope.newTimeHour = 0;
                $scope.newTimeMin = 0;
                $scope.newReason = undefined;
              }
            } else {
              alert('Please select entry type.');
            }
          };
          $scope.removeEntry = function (entry) {
            var entries = $scope.entries[$scope.datePick+''];
            for(var i=0; i<entries.length; i++) {
              if(entries[i] == entry) {
                $scope.entries[$scope.datePick+''].splice(i,1);
              }
            }
          }

        })

        .directive('timeInput', function (timeUtility) {
          return {
            restrict: 'E',
            scope: {
              data: '=ngModel'
            },
            template:
              '<input type="number" class="time-input" ng-model="in_hour" min="0" max="23"> : ' +
              '<input type="number" class="time-input" ng-model="in_minute" min="0" max="59">',
            link: function (scope, elem, attr) {
              scope.in_hour = 0;
              scope.in_minute = 0;
              scope.$watch('data', function () {
                var time = timeUtility.toTime(scope.data);
                scope.in_hour = scope.out_hour = time.hours;
                scope.in_minute = scope.out_minute = time.minutes;
              });
              scope.$watch('in_hour', function () {
                if(scope.in_hour != scope.out_hour) {
                  scope.data = timeUtility.toValue(scope.in_hour, scope.in_minute);
                }
              });
              scope.$watch('in_minute', function () {
                if(scope.in_minute != scope.out_minute) {
                  scope.data = timeUtility.toValue(scope.in_hour, scope.in_minute);
                }
              });
            }
          }
        })

        .factory('timeUtility', function () {
          var dayConst = 24*60*60*1000;
          return {
            toValue: function (hours, minutes) {
              var d = new Date(0);
              d.setUTCHours(hours);
              d.setUTCMinutes(minutes);
              return d.getTime() / dayConst;
            },
            toTime: function (value) {
              var d = new Date(dayConst * value);
              return {
                hours: d.getUTCHours(),
                minutes: d.getUTCMinutes()
              };
            },
            minuteToFraction: function (minutes) {
              var d = new Date(dayConst),
                e = new Date(0);
              e.setUTCMinutes(minutes);
              return e.getTime() / d.getTime();
            }
          };
        });

    })();
  </script>

</body>
</html>
