<html ng-app="sliderDemo">
<head>
  <meta charset="UTF-8">
  <title>Slider</title>
  <link rel="stylesheet" href="slider.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
  <style>
    body {
      font-family: 'Arial', sans-serif;
      font-size: 12px;
      padding: 20px;
    }

    #slider-container {
      width: 440px;
      padding: 20px;
      padding-top: 30px;
      overflow-x: auto;
      background-color: rgba(0,0,0,0.15);
    }

    .time-input {
      width: 50px;
      text-align: right;
    }

    .entry-list {
      list-style: none;
      padding-left: 10px;
    }

    .time-input-label {
      width: 100px;
      display: inline-block;
    }
  </style>
</head>
<body>

  <div ng-controller="DemoCtrl">
    <form ng-submit="createEntry()">
      <div style="display:inline-block; min-height:290px;">
        <datepicker ng-model="datePick" min-date="minDate" class="well well-sm"></datepicker>
      </div>
      <div>
        <p>Enter new entry:</p>
        <input type="number" class="time-input" ng-model="newTimeHour" min="0" max="23"> :
        <input type="number" class="time-input" ng-model="newTimeMin" min="0" max="59">
        <select ng-model="newType" ng-options="type.getData().label for type in entryTypes" required></select>
        <input type="text" ng-show="newType.getData().group=='break'" placeholder="Provide reason" ng-model="newReason">
        <button type="submit">Add</button>
      </div>
    </form>
    <hr>
    <ul class="entry-list">
      <li ng-repeat="entry in entries | orderBy: 'val'  ">
        <label class="time-input-label">{{ entry.getTypeData().label }} </label>
        <time-input ng-model="entry.val"></time-input>
        <button type="button" ng-click="removeEntry(entry)">Remove</button>
      </li>
    </ul>
    <div>Zoom x{{ zoomIndex+1 }} <button type="button" ng-click="zoomOn(1)">+</button><button type="button" ng-click="zoomOn(-1)">-</button></div>
    <div id="slider-container" msd-wheel="onSliderScroll($event, $delta)">
      <vds-slider ng-model="entries" width="zoom" step="step" measures="measures"></vds-slider>
    </div>
    {{ entries.length }}
  </div>

  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
  <script src="bower_components/hamsterjs/hamster.js"></script>
  <script src="bower_components/angular-mousewheel/mousewheel.js"></script>
  <script src="slider.js"></script>
  <script src="script/app.js"></script>
  <script src="script/directives.js"></script>
  <script src="script/factories.js"></script>
  <script src="script/controllers.js"></script>

</body>
</html>
