<div class="main-app-container">
  <div class="background"></div>
  <div class="balloons"></div>
  <div class="clouds"></div>
  <div class="fade"></div>
  <div class="floors">
    <div class="first">
      <div class="map">
      </div>
      <a ng-click="galleryBtnClick(1, $event)" class="gallery-btn i"><img src="img/floor1-I.png"></a>
      <a ng-click="galleryBtnClick(2, $event)" class="gallery-btn ii"><img src="img/floor1-II.png"></a>
      <a ng-click="galleryBtnClick(3, $event)" class="gallery-btn iii"><img src="img/floor1-III.png"></a>
      <a ng-click="galleryBtnClick(4, $event)" class="gallery-btn iv"><img src="img/floor1-IV.png"></a>
    </div>
    <div class="second">
      <div class="map">
      </div>
      <a ng-click="galleryBtnClick(1, $event)" class="gallery-btn i"><img src="img/floor2-I.png"></a>
      <a ng-click="galleryBtnClick(2, $event)" class="gallery-btn ii"><img src="img/floor2-II.png"></a>
      <a ng-click="galleryBtnClick(3, $event)" class="gallery-btn iii"><img src="img/floor2-III.png"></a>
      <a ng-click="galleryBtnClick(4, $event)" class="gallery-btn iv"><img src="img/floor2-IV.png"></a>
    </div>
  </div>
  <div class="info" data="gallery" ng-click="stageClick($event)">
    <ul class="list" ng-style="{ left: gallery.x, top: gallery.y }">
      <h1>{{ gallery.name }}</h1>
      <li class="item" ng-repeat="item in gallery.points">
        <a ng-click="itemClick(item)"><span class="index">{{ $index+1 }}</span> {{ item.name }}</a>
      </li>
    </ul>
    <ul class="points">
      <li class="point" ng-repeat="point in gallery.points" ng-style="{ left: point.x, top: point.y }"
        ng-class="{ selected: point==selected }">
        <a ng-click="itemClick(item)">{{ $index+1 }}</a>
      </li>
    </ul>
  </div>
  <a ng-click="back()" class="back"><img src="img/back.png"></a>
</div>
