<html ng-app="tictactoe">
<head>
  <meta charset="UTF-8">
  <title>Tic Tac Toe</title>
  <link rel="stylesheet" href="main.css">
</head>
<body ng-controller="MainController">
  <div class="container">
    <t3-player data="player1" turn="!winner && currentTurn == player1"></t3-player>
    <div class="grid">
      <t3-tile ng-repeat="tile in tiles" data="tile" ng-click="!winner && action(currentTurn, tile)"></t3-tile>
    </div>
    <t3-player data="player2" turn="!winner && currentTurn == player2"></t3-player>
    <h1 class="round-result" ng-show="winner">
      <span ng-show="winner===true">Draw!</span>
      <span ng-show="winner!==true">{{ winner.name }} wins this round!</span>
      <div class="next-round wobble">
        <a ng-click="nextRound()">Next Round: {{ rounds }}</a>
      </div>
    </h1>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.min.js"></script>
  <script src="main.js"></script>
</body>
</html>
